body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

/* Header */
header {
    background-color: #2234ae;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 30px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: #fff;
    text-decoration: none;
}


#hero-section {
    position: relative;
    height: 90vh;
    background: url('assets/5SOS_hero.gif') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ad8a35;
    font-size: 60px;
    text-align: center;
}


/* Email newsletter sign up */
#subscribe-section {
    background-color: #ad8a35;
    padding: 40px;
    text-align: center;
}
#subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#email-input {
    padding: 10px;
    width: 200px;
}
#subscribe-button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


/* Video Carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;

  max-width: 100%; /* Ensure the slideshow container doesn't overflow on small screens */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 80px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* TODO: Resposive */
@media screen and (max-width: 500px) {
    .prev, .next {
        width: 100%;
    }
}


/* Image gallery */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}


/* footer */
footer {
text-align: center;
padding: 3px;
color: white;
padding: 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.icon {
    color: #ad8a35;
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.5s ease;
}
.icon:hover {
    transform: scale(1.2);
}
@media (max-width: 600px) {
    .icon {
        font-size: 24px;
    }
}
    

/* @media screen and (max-width:1000px){

} */
